html, body {
    font-family: "Ubuntu", sans-serif;
    height: 100%;
    margin: 0 auto;
    /* max-width: 390px; */
    /* padding: 0; */
}

/* header {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
} */

.portfolio-title h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

#navbar {
    overflow: hidden;
    background-color: #020202;
    margin: auto;
    width: 100%;
    height: auto;
}

li {
    float: left;
    list-style-type: none;
}

#navbar a {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #f1f1f1;
    width: 100%;
}

#social {
    margin-right: 100px;
}

#social li {
    float: right;
    list-style-type: none;
    /* margin-right: 200px; */
    padding: 0 40px 0 20px;
    font-size: 1.2rem
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    /* padding-top: 100px; */
}

.sticky + .content {
    padding-top: 60px;
}


/* ------end of nav bar ------- */



#section1 {
    /* padding: 40px 200px 80px 200px; */
    margin: auto;
    width: 100%;
    padding: 10px;
}

.intro {
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    /* padding: 0 0 50px 0; */
}

.hs-image {
    padding: 20px;
    /* margin: 0 auto; */
    /* vertical-align: top; */
    /* display: flex; */
    text-align: center;
}

.hs-image img {
    max-width: 100%;
    height: auto;
}

.hs-image h1, h2, p{
    padding: 0 20px 0 20px;
    line-height:1.5;
}

.intro-text {
    /* padding-left: 80px; */
    /* display: block; */

}

.intro-text h1, h2 {
    /* margin: 0 0 10px;
    align-items: center;
    justify-content: center;
    display: flex; */
}

h1 {
    font-size: 2rem;
    color: #000000;
}

h2 {
    font-size: 1.5rem;
    color: #000000;
}

p {
    font-size: 1.3rem;;
}

/* #section2 {
    padding: 100px 200px 0 200px;
    align-items: center;
    text-align: left;
    height: auto;
    top: 80px;
}


#section2 h1 {
    top:80px;
} */

#section3 {
    /* padding: 0px 100px 40px 100px;
    text-align: left; */
    margin: auto;
    width: 100%;
    padding: 20px;
}
  
#section3 {
    /* padding: 20px; */
    /* margin: auto; */
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
}
  
#section3 h1, h2{
    /* top:80px; */
    text-align: center;
}
  
.icons h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 40px 0px 40px 0px;
}
  
.icons img {
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    padding: 10px 20px 0 40px;
    margin: 0;
    align-items: center;
}
  
hr.solid-line {
    border-top: 2px solid #E0E0E0;
    margin: 0px 60px 0 60px;
}

#section4 {
    /* align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 100px 200px 60px 200px; */
    margin: auto;
    width: 100%;
    padding: 20px;
}

/* .projects {
    display: flex;
    align-items: center; 
    justify-content: center;margin-top: 80px;
} */

/* #app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 50px 50px;
} */

#section4 h1, p {
    /* top: 80px; */
    text-align: center;
}

/* .project-name a {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 0;
}

.project-name h2 {
    text-align: left;
} */

/*   
  .image {
    width: 800px;
    height: auto;
    border: 2px solid #010101;
} */

.projects-list img {
    max-width: 100%;
    height: auto;
    padding: 20px; 
    margin: 0;
}  

/* .project-description {
    padding-left: 60px;
}  */

/* .project-description p{
    font-weight: bold;
}  */



#section5 {
    /* text-align: center;
    justify-content: center;
    padding: 100px 200px 100px 200px ;
    margin: 0; */

    /* align-items: center;
    justify-content: center;
    text-align: center; */
    /* margin: 20px 0 0 0; */
    /* padding: 100px 200px 100px 200px;
    height: auto;
    top: 80px; */
    margin: auto;
    width: 100%;
    padding: 20px;
}

#section5 h1 {
    /* top: 80px; */
    text-align: center;
}

#section5 p {
    padding-top: 30px;
}

#section5 a:link {
    text-decoration: none;
    color: #000000;
}

.email {
    /* padding: 0px 430px 0px 430px; */
}

#section5 a:hover {
    text-decoration: underline;
}

.sm-container {
    /* margin: auto; */
    width: 100%;
    padding: 20px;
}

.table {
    display: table;
    margin: 0 auto;
}

ul .social-icons {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 10px; */
    /* width: 100%; */
    /* text-align: center; */
    list-style: none;
    /* padding-top: 20px; */
}

.social-icons li {
    /* margin: 0; */
    padding: 0 100px 0 40px;
    font-size: 1.5rem;
    /* text-align: center; */
    /* align-items: center; */
    /* margin:40px; */
    display: inline;
}

.footer {
    /* margin: auto; */
    width: 100%;
    padding: 20px;
    margin-top: 100px;

    /* margin: 0; */
    /* width: 100%; */
    /* padding: 10px 0 10px 0; */
    /* text-align: center; */

    

    border-top: 2px solid #E0E0E0;
    background-color: #202020;
}
  
.footer h3{
    color: #ffffff;
    text-align: center;
}