html, body {
    height: 100%;
    margin: 0;
}

header {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #020202;
    margin: auto;
    width: 100%;
}

li {
    float: left;
    list-style-type: none;
}

#navbar a {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #f1f1f1;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 50px 0;
}

.hs-image img{
    height: 575px;
    width: 450px;
    padding: 10px 0 0 10px;
}

.hs-image {
    flex-basis: 40%;
}

.intro-text {
    padding-left: 80px;
}

.intro-text h1, h2 {
    margin: 0 0 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.7rem;;
}

#section2 {
    padding: 0 200px 0 200px;
    align-items: center;
    text-align: left;
    height: auto;
}

#section3 .cd-section {
    padding-top: 0px;
    text-align: center;
  }
  
  #section3 .icons{
    background-color: #FFFFFF;
    padding: 100px;
    margin: auto;
    text-align: center;
  }
  
  #section3 h1 {
    color: #000000;
    top:80px;
  }
  
  .icons h2 {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 40px 0 40px 0;
  }
  
  .icons img{
    padding: 10px 20px 0 40px;
    margin: 0;
    align-items: center;
  }
  
  hr.solid-line {
    border-top: 2px solid #E0E0E0;
  }

  #section4 {
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    background-color: #ffffff;
  }

  #section4 h1 {
    top: 80px;
    color: #000000;
    text-align: center;
  }

  .projects {
    display: flex;
    align-items: center; 
    justify-content: center;margin-top: 80px;
  }

  .project-name a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px 50px 100px;
  }

/*   
  .image {
    width: 800px;
    height: auto;
    border: 2px solid #010101;
  } */
  
  .project-description {
    padding-left: 60px;
  }
  
  #section4 img {
    display: block;
    margin: 20px 0 0 0;
    padding: 20px 0 20px 0;
    width: 600px;
    height:300px;
  }

  .contact {
    text-align: center;
    justify-content: center;
    padding: 60px 100px 100px 100px ;
    margin: 0;
  }

  .footer {
    margin: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #E0E0E0;
    background-color: #202020;
  }
  
  .footer h3{
    color: #ffffff;
  }