html, body {
    height: 100%;
    margin: 0;
}


#navbar {
    overflow: hidden;
    background-color: #020202;
}


li {
    float: left;
    list-style-type: none;
}

#navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f1f1f1;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}